<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= asset_path 'Vader.jpeg' %>)">
  <div class="container">
    <div class="logo mb-5" class="mb-5">
      <img class="logo_image " src= "<%= asset_path('logo.png') %>">
      <div class="logo__text">Login</div>
    </div>
      <div id="Text" class="mb-5" >
        <h1>Be the star of the next party!</h1>
        <p>Find the perfect costume</p>
      </div>
      <div>
        <%= link_to "See costumes", costumes_path, class: "btn btn-gradient" %>
      </div>
  </div>
</div>
