Login
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "See all costumes", costumes_path %>

<%= cl_image_tag("jp1s53ie43f8xvuwaq27zlc2m89j",
      width: 400, height: 300, crop: :fill) %>
