
.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#556b2f, #4a5d23);
  transition: background 0.3s ease;
  border: 1px solid black;
  font-family: 'Poppins', sans-serif;
}

.btn-gradient:hover {
  background: linear-gradient(#737000, #4b5320);
  color: white;
}

 .btn-success {
    border-radius: 5px;
    background-color: #0C7C59;
    border-color: #0C7C59;
    justify-content: flex-end;
}

.btn-success a {
    color:white;
}

.btn-danger {
    border-radius: 5px;
    background-color: #D64933;
    border-color: #D64933;
}

.btn-danger a {
    color:white;
}

.btn-light {
    border-radius: 5px;
    background-color:#A7A7A9;
    border-color: #A7A7A9;
    justify-content: flex-end;
}

.btn-light a {
  color: white;

  &:hover{
    color: black;
  }
}
