
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.card h2  {
    text-align: left;
}


.card li {
    margin: 10px;
    display: grid;
    grid-template-columns: 4fr 50px 1fr;
    align-items: center ;
}

.card li a {
  text-decoration: none;
}

.my-card {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: rgba(255,255,255,0.8);
  transition: 0.2s;

  &:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
  }
}

.my-card-background {
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;

  &:hover {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);
  }
}

